In [1]:
print("Hello World...!")

Hello World...!

In [2]:
5+10

15

In [3]:
numbers=[1,2,3,4,5]
print(numbers)
print(numbers[2])
print(numbers[2:4]) 
numbers[-1]

[1, 2, 3, 4, 5]
3
[3, 4]

5

In [4]:
import math
import random
import math as m
from math import *

In [5]:
math.sqrt(9)

3.0

In [6]:
print(math.sqrt(9))
print(math.pi)
print(math.pow(2,3))
print(abs(-10))
print(max(1,2,3,4,5))
print(min(1,2,3,4,5))
print(math.sin(60))
print(math.e)
print(math.log(4))
print(math.log10(100))
print(round(23.45678,2))
print(random.random())

3.0
3.141592653589793
8.0
10
5
1
-0.3048106211022167
2.718281828459045
1.3862943611198906
2.0
23.46
0.4983956397153616

In [7]:
print(random.random())

0.02792924067574032

In [8]:
nums=[1,2,3,4,5]
print(random.choice(nums))

4

In [9]:
random.shuffle(nums)
print(nums)

[2, 5, 3, 1, 4]

In [10]:
print(random.randrange(1,100,1))

63

In [11]:
import math
num = int(input("Enter a number: "))
if num > 1:
   for i in range(2,(num//2)+1):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
       
else:
   print(num,"is not a prime number")

Enter a number: 5
5 is a prime number

In [12]:
num =5
print(num//2)
print(num/2)
type(num//2)

2
2.5

int

In [13]:
age=10
gender='male'
section='MTech'
height=6.2
Gender=20
AGE=50
_=10
print(age,gender,section,height,Gender,AGE,_)

10 male MTech 6.2 20 50 10

In [14]:
x,y,z=1,2.5,"kiran"
print(x,y,z)

1 2.5 kiran

In [15]:
print("*****Creating and deleting object references*******")
var=10
print(var)
del var 
print(var)

*****Creating and deleting object references*******
10

NameError: ignored

In [16]:
print("******Experiment on String type*******")
str = 'Hello World..!'
print(str)          
print(str[0])       
print(str[2:5])     
print(str[2:])      
print(str * 2)      
print(str + "TEST")

******Experiment on String type*******
Hello World..!
H
llo
llo World..!
Hello World..!Hello World..!
Hello World..!TEST

In [17]:
print("******Python List type**********")
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print(list)          
print(list[0])       
print(list[1:3])     
print(list[2:])      
print(tinylist * 2)  
print(list + tinylist)

******Python List type**********
['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

In [18]:
print("******Python Tuple type**********")
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print(tuple)         
print(tuple[0])        
print(tuple[1:3])      

print(tuple[2:])       
print(tinytuple * 2)   
print(tuple + tinytuple)

******Python Tuple type**********
('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [19]:
list[2] = 1000     
print("list is ",list)
print("tuple is",tuple)

list is  ['abcd', 786, 1000, 'john', 70.2]
tuple is ('abcd', 786, 2.23, 'john', 70.2)

In [20]:
print("******Python Dictionary Type**********")
"""
Dictionaries are enclosed by curly braces ({ }) and values can be 
assigned and accessed using square braces ([]).
"""
dict = {}
tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

print(tinydict)         
print(tinydict.keys()) 
print(tinydict.values())

******Python Dictionary Type**********
{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])